:root {
    --color-fondo: rgb(9, 122, 66);
    --color-texto: rgb(243, 219, 81);
    --color-fondo-hover: rgb(219, 111, 129);
    --color-texto-hover: black;
    --color-fondo-oscuro: rgb(37, 35, 35);
    --color-texto-oscuro: rgb(216, 209, 209);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-fondo-oscuro: rgb(37, 35, 35);
        --color-texto-oscuro: rgb(216, 209, 209);
    }
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

/*Imagen de fondo*/
body {
    /*Con el gradiente conseguimos que solo tenga opacidad el fondo para que no destaque sobre las imagenes*/
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../Imagenes/fondoFruta3.webp");
    background-repeat: repeat;
    background-size: 100vw 100vh;

}

a {
    text-decoration: none;
    color: var(--color-texto);
    transition: all 0.65s ease;
}

a:hover {

    color: var(--color-texto-hover);
}

/********************************************************************************************/
/**************** HEADER********************************************************************/
/********************************************************************************************/

header {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: flex;
    position: fixed;
    flex-direction: row;
    height: 60px;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

/*Dividimos los espacios*/
#containerLogo {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#containerBuscador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

#containerSpan {
    width: 15%;
    display: flex;
    justify-content: end;
}

.bienvenida {
    display: flex;
    cursor: pointer;
    justify-content: center;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    border: 2px solid var(--color-texto);
    padding: 5px;
    width: 100%;
}

#containerOpciones {

    width: 35%;
}

#iconos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.iconosHeader {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#logo {
    cursor: pointer;
    height: 50px;
    width: 50px;
}


#lista,
#lista2 {
    cursor: pointer;
    display: block;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease-in;
    z-index: 0;
}

.listaIconos {
    border: 1px solid var(--color-texto);
    padding: 5px;
    transition: all 0.65s ease;
}

.listaIconos:hover {
    border: 1px solid black;
    background-color: var(--color-fondo-hover);
    color: var(--color-texto-hover);
}

.listaIconos:hover a {
    color: var(--color-texto-hover);

}

#inicio:hover+ul,
#lista:hover,
#accesibilidad:hover+ul,
#lista2:hover {
    background-color: var(--color-fondo);
    display: flex;
    visibility: visible;
    flex-direction: column;
    opacity: 1;

}

#containerImagenCarrito {
    display: flex;
    flex-direction: column;
    position: relative;
}

#carrito {
    order: 2;
    align-self: center;
    justify-self: center;

}

#cantidadProductosCarro {
    position: absolute;
    align-self: flex-end;
    justify-content: flex-start;
    background-color: var(--color-fondo-hover);
    color: var(--color-texto-hover);
    top: -10px;
    left: 22px;
    visibility: visible;
    border: 1px solid black;
    border-radius: 100%;
    padding: 3px;
}

/********************************************************************************************/
/**************** Nav********************************************************************/
/********************************************************************************************/

nav {
    align-items: center;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1;
}

.botonNAV {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.botonNAV a {
    font-weight: bolder;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: all 0.65s ease;
    width: 100%;


}

.botonNAV a:hover {
    color: var(--color-texto-hover);
    background-color: var(--color-fondo-hover);
    font-weight: bolder;

}

/********************************************************************************************/
/**************** TABLA********************************************************************/
/********************************************************************************************/
table {
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: lightblue;
    border: 1px solid black;
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: lightgoldenrodyellow;
}

tr:nth-child(even) {
    background-color: lightblue;
}

/********************************************************************************************/
/**************** main********************************************************************/
/********************************************************************************************/
main {
    min-height: 300px;
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cuadrado {

    height: 150px;
    width: 150px;
    background-color: burlywood;
    border: 1px solid black;
}

#buscador {
    height: 30px;
    width: 500px;
    background-color: white;
}

#botones {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

table {
    border: 1px solid black;

}

#filtro {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    transform: translateY(250px);
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    bottom: 0;

}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

footer ul:hover li:hover a {
    color: var(--color-texto-hover);
}

footer ul li {
    padding: 10px;
}

footer ul li:hover {
    transition: 100ms;
    cursor: pointer;
    background-color: var(--color-fondo-hover);
}

#aviso {
    width: 300px;
    height: 150px;
    /*background-color: var(--color-fondo);
    color:var(--color-texto);*/
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}


#exito {
    width: 300px;
    height: 150px;
    /*background-color: var(--color-fondo);
    color:var(--color-texto);*/
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.oscuro {
    background-color: var(--color-fondo-oscuro) !important;
    color: var(--color-texto-oscuro) !important;
    background-image: none;
}

.oscuro:hover {

    color: var(--color-texto) !important;
}

.claro {
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

@media screen and (max-width: 600px) {
    #spanBienvenida {
        display: none;
    }

    main {
        grid-template-columns: 1fr;
    }

    section {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-left: 0px;
        justify-items: center;
        align-items: center;
        width: 100%;
        padding-top: none;
    }

    header {
        display: grid;
        grid-template-areas: "logo opciones opciones opciones"
            "busca busca busca busca";
        grid-template-rows: 50px 50px;
        grid-template-columns: 1fr 3fr;
        height: 90px;

    }

    #containerLogo {
        grid-area: logo;
        width: 100%;
    }

    #containerOpciones {
        width: 100%;
        grid-area: opciones;
    }


    #containerBuscador {
        grid-area: busca;
        width: 100%;

    }
    #buscador{
        width: 80%;
    }

    #iconos {
        height: 50px;
    }

    nav {
        top: 90px;
        font-size: 14px;
        height: 60px;
        padding: 5px;
        
    }
    

}