/*Damos estilos especifico de nuestro formulario para el login*/
#mainForm{
    align-items: center;
    display: flex;
    justify-content: center;
    transform: translateY(80px);
    width: 100%;
}
form{
    font-size: 25px;
    gap: 15px;
    margin:120px;
    padding: 30px;
    width: 20%;
    
}
/*Estilo de la linea que separa iniciar sesión y crear usuario*/
hr{
    color:var(--color-texto);
    width: 80%;
    
}
@media screen and (max-width: 1000px) {

    form{
        width: 40%;
        
    }
    
}
@media screen and (max-width: 600px) {

    form{
        font-size: 16px;
        padding: 20px;
        width: 50%;
        
    }
    
}





