main{
    transform: translateY(150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.imagenNoticia{
    width: 200px;
    height: 200px;
}
.textoNoticia{
    width: 80%;
    background-color: whitesmoke;
    opacity: 0.9;
}
.containerNoticia{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    width: 70%;

}
.containerTitulos{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 62%;
    gap:10px;
}
.noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}

@media screen and (max-width: 600px) {
    
    .imagenNoticia{
        width: 120px;
        height: 120px;
    }
    .containerNoticia{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        width: 100%;
    
    }
  }
