main{
    transform: translateY(120px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-self: center;
}

@media screen and (max-width: 600px) {

    main{
        transform: translateY(160px);
    }
    
}