

/*****************************************************************************************************************/
/******************************************** MAIN ****************************************************************/
/******************************************************************************************************************/

/*Trasladamos hacia abajo para que no interfiera en las zonas fijas de header y nav*/
main{
    
  transform: translateY(99px);
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-auto-rows: auto;
  height: auto;

}
/*Zona con los distintos filtros  que aparecera en la parte izquierda de la pantalla*/
aside{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0.8;
    padding-top:10px;
}
/*Estilización de la zona interior del aside*/
aside div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    font-size: 23px;
    
}
aside label{
    width: 80%;
}
/*En esta zona pareceran nuestros productos de 2 en 2*/
section{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap:100px;
    margin-left: 100px;
    padding:10px;
    padding-top:initial;
}
/*Distintos estilos para que se vea mejor cada producto*/
section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    width: 70%;
    padding-top: 10px;
}
/*Fuente y tamaño imagenes.*/
p{
    font-size: 25px;
 
}
.productos{
    width: 250px;
    height: 250px;
    cursor: pointer;
}


